<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :eventname %><br>
    <%= f.text_field :eventname %>
  </div>
  <div class="field">
    <%= f.label :systemname %><br>
    <%= f.text_field :systemname %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br>
    <%= f.date_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br>
    <%= f.date_select :enddate %>
  </div>
  <div class="field">
    <%= f.label :apptype %><br>
     <%= f.select :apptype, ['AST','MST','MPAST','BlueSky'] %>
  
  </div>
  <div class="field">
    <%= f.label :eventstatus %><br>
    <%= f.select :eventstatus, ['Active','Passive','Dormant'] %>
    
  </div>
  <div class="field">
    <%= f.label :clustername %><br>
    <%= f.select :clustername, ['APP100','Dormant'] %>
    
  </div>
  <div class="field">
    <%= f.label :archived %><br>
    <%= f.radio_button(:archived, true) %>
    <%= label_tag(:Yes) %>
    <%= f.radio_button(:archived, false) %>
    <%= label_tag(:No) %>

   <!-- <%= f.text_field :archived %> -->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
