<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @event.company %>
</p>

<p>
  <strong>Eventname:</strong>
  <%= @event.eventname %>
</p>

<p>
  <strong>Systemname:</strong>
  <%= @event.systemname %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @event.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @event.enddate %>
</p>

<p>
  <strong>Apptype:</strong>
  <%= @event.apptype %>
</p>

<p>
  <strong>Eventstatus:</strong>
  <%= @event.eventstatus %>
</p>

<p>
  <strong>Clustername:</strong>
  <%= @event.clustername %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @event.archived %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
